configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "Nunito 13";
    display-drun: "  ";
    display-run: "  ";
    display-window: "  ";
    drun-display-format: "{name}";
}

@theme "steampunk"
